/**********
 * WiFi
 **********/
const char *ssid = "<your SSID>"; // replace with your wifi ssid and wpa2 key
const char *pass = "<your pass>";

/**********
 * Blynk
 **********/
char auth[] = "<you blynk key>"; // you should get auth token in the Blynk app
